<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>FinalDb</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>BookTicketServlet</display-name>
		<servlet-name>BookTicketServlet</servlet-name>
		<servlet-class>main.java.de.tum.in.dbpra.BookTicketServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookTicketServlet</servlet-name>
		<url-pattern>/BookTicketServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CustomerServlet</display-name>
		<servlet-name>CustomerServlet</servlet-name>
		<servlet-class>main.java.de.tum.in.dbpra.CustomerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerServlet</servlet-name>
		<url-pattern>/CustomerServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SearchFlightServlet</display-name>
		<servlet-name>SearchFlightServlet</servlet-name>
		<servlet-class>main.java.de.tum.in.dbpra.SearchFlightServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchFlightServlet</servlet-name>
		<url-pattern>/SearchFlightServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>FlightServlet</display-name>
		<servlet-name>FlightServlet</servlet-name>
		<servlet-class>main.java.de.tum.in.dbpra.FlightServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FlightServlet</servlet-name>
		<url-pattern>/FlightServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>HelloWorldJSPServlet</display-name>
		<servlet-name>HelloWorldJSPServlet</servlet-name>
		<servlet-class>main.java.de.tum.in.dbpra.HelloWorldJSPServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloWorldJSPServlet</servlet-name>
		<url-pattern>/HelloWorldJSPServlet</url-pattern>
	</servlet-mapping>
</web-app>