<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>FlightServlet</servlet-name>
		<servlet-class>de.tum.in.dbpra.FlightServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FlightServlet</servlet-name>
		<url-pattern>/flight</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SearchFlightServlet</servlet-name>
		<servlet-class>de.tum.in.dbpra.SearchFlightServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchFlightServlet</servlet-name>
		<url-pattern>/searchflight</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BookTicketServlet</servlet-name>
		<servlet-class>de.tum.in.dbpra.BookTicketServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookTicketServlet</servlet-name>
		<url-pattern>/bookticket</url-pattern>
	</servlet-mapping>
</web-app>
