@CHARSET "ISO-8859-1";



._header{
	text-align:center;
	text-shadow:#efefef;
	font-size:3em; font-weight:bold; margin-bottom: 10px; 
}



#container
{
	
	width: 100%;
	
}

#Site-header
{
	background: #ccc;
	padding: 1px;
	height:5%;
	
}
#Site-header p
{
text-align: center;
color: #00B2EE;
font-size:3em; font-weight:bold;
}
#header h1 { margin: 0; }

#top-navigation
{
	float: left;
	width: 100%;
	background: #333;
	text-align: center;
	padding: 1px;
	
	
}

#top-navigation ul
{
	margin: 0 auto;
	padding: 1px;
	width: 490px;

}

#top-navigation ul li
{
	list-style-type: none;
	display: inline;
	float:left;
	border: 1px solid;
	border-color: #efefef;
	
}

#top-navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	list-style-type: none;
}

#top-navigation li a:hover { background: #383; }


#content-container1
{
	float: left;
	width: 100%;

}



#section-navigation
{
	float: left;
	width: 16%;
	padding: 20px 0;
	margin: 0 2%;
	display: inline;
	background: #F7F7F9 ;
	
}

#section-navigation ul
{
	margin: auto;
	padding: auto;
}

#section-navigation ul li
{
	margin: auto 0 1em;
	padding: auto;
	list-style-type: none;
}

#content
{
	float: left;
	width: 56%;
	padding: 20px 0;
	margin: 0 0 0 0;
	background: babyblue;
	height:630px;
	overflow: visible;
	margin-left:0px;
}


.input_label{
font-size:20px;
color: black;
}

#content h2 { font-size:2em;
    color: #00B2EE  }

#aside
{
	float: right;
	width: 16%;
	padding: 20px 0;
	margin: 0 2% 0 0;
	display: inline;
}

#aside h3 { margin: 0; }

#bottom-footer
{
	width: 99%;
	background: #ccc;
	height: 5%;
	padding: 1px;
	position:fixed;
    bottom:0;
    margin: 1px;
    text-align: center;
}

#bottom-footer ul
{
	margin :0px auto;
	width:400px;
}

#bottom-footer ul li
{

	list-style-type: none;
	display: inline;
	padding: 10px;
	float:left;
	color:#00B2EE
	
}

.input_select{
width: 159px;

}

.page_center_content{
	font-size: large;
	color:black;
	
	
}
.page_header{
	font-size: 20px;
	color:black;
}
.flight_detailscoloumn{
text-align:center;
background-color: #efefef;
}

.flight_detailscoloumn:HOVER {
	
background-color: gray;
}

.flight_namecoloumn{
text-align:center;
background-color: #efefef;
}

.flight_namecoloumn:HOVER{

background-color: gray;
}


.form_details {
	margin :0px auto;
	width: 50%;
	background-color: #efefef;
}

.form_details tr {
	text-align: center;
	
}
.form_details tr:HOVER {
	background-color: #00B2EE;
	
}
.form_details td {
	width: 100%;
	
}